.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: calc(6px + 1vmin);
}

table {
  width: 700px;
  max-width: 80vw;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  /* border-spacing: 0; */
  text-align: left;
  table-layout: fixed;
}

th:nth-last-child(-n+2),
td:nth-last-child(-n+2) {
  text-align: right;
}

th:first-child,
td:first-child {
  border: none;
  width: 6em;
  text-align: center;
}

th, td {
  width: 7em;
}

th {
  border: 1px solid black;
  position: sticky;
  top: 0;
  border-collapse: collapse;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid var(--gray);
  border-collapse: separate;
}

th.min-pay {
  width: 9%;
}

.buttons-container button {
  display: flex;
  flex-direction: column;
  /* margin: .2em; */
  padding: .2em;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: var(--blue);
  font-size: 1rem;
  box-shadow: 2px 1px 2px var(--gray);
  margin: 5px 10px;
}

button:active {
  box-shadow: 0 0 0 #fff;
  margin: 5px 10px;
}

.buttons-container > button:first-child {
  background-color: var(--red);
}

.total-balance {
  display: flex;
  justify-content: space-between;
  padding: .15em 0 .15em 2em;
  background-color: var(--cyan);
}